:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  /* space-like background: taken from https://codepen.io/sarazond/pen/LYGbwj */
  background: radial-gradient(ellipse at bottom, #1B2735 10%, #090A0F 100%)
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#gameBoardUI {
  height: 600px;
  width: 500px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  position: relative;
}

.debris-container {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  width: 100px;
  height: 100px;
}

.debris-container>div {
  object-position: 50% 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.debris-label {
  background-color: rgba(55, 55, 55, 0.7);
  width: fit-content;
  padding: 0 5px;
  border: 2px solid #fff;
  vertical-align: middle;
  border-radius: 5px;
  font-weight: normal;
  color: #fff;
}

.debris-sprite {
  font-size: 50px;
}

.debris-container>.shootingstar {
  transform: translate(-50%, -50%) rotate(0.875turn);
}

.debris-container>.large {
  font-size: 80px;
}

.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.message-fadein {
  animation-name: message-fadeinout;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.status-message {
  font-size: 30px;
  color: rgb(220, 220, 220);
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* disable text selection class: from https://stackoverflow.com/questions/10809995/css-disable-text-selection */
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* spin animation from: https://codepen.io/teerapuch/pen/vLJXeR */

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes message-fadeinout {
  0% {
    transform: translate(0%, 50%);
    color: rgba(220, 220, 220, 0);
  }

  20% {
    transform: translate(0%, 0%);
    color: rgba(220, 220, 220, 1);
  }

  80% {
    transform: translate(0%, 0%);
    color: rgba(220, 220, 220, 1);
  }

  100% {
    transform: translate(0%, -50%);
    color: rgba(220, 220, 220, 0);
  }
}

@keyframes fadeout {
  from {
    color: rgba(255, 255, 255, 1);
  }

  to {
    color: rgba(255, 255, 255, 0);
  }
}